.selection-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0 0 256px;
    width: 100%;
    min-width: 256px;
    z-index: 10;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 7%) 1px 0px inset;
    &::-webkit-scrollbar {
        display: none;
     }
    &__name {
        padding: 20px 16px;
        box-shadow: rgb(0 0 0 / 7%) 0px -1px inset;
        .ant-input {
            height: 30px;
            outline: none;
            border: none;
            background: #e3e3e3;
            padding-left: 20px !important;
            border-radius: 4px;
        }
        .ant-input-affix-wrapper {
            display: flex;
            align-items: center;
            background: #e3e3e3;
            padding: 6px 10px;
        }
    }
    &__type {
        display: flex;
        flex-direction: column;
        padding: 20px 16px;
        box-shadow: rgb(0 0 0 / 7%) 0px -1px inset;
        &__icon {
            margin-right: 10px;
        }
        span {
            font-weight: 500;
            padding-bottom: 10px;
        }
    }
    &__settings {
        display: flex;
        flex-direction: column;
        padding: 20px 16px;
        box-shadow: rgb(0 0 0 / 7%) 0px -1px inset;
        span {
            font-weight: 500;
            padding-bottom: 10px;
        }
        &__req {
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
                font-weight: normal;
            }
        }
    }
    &__change {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 16px;
        box-shadow: rgb(0 0 0 / 7%) 0px -1px inset;
        span {
            font-weight: 500;
        }
        &__upload {
            cursor: pointer;
            border-radius: 4px;
            .ant-upload {
                span {
                    button {
                        background: #e3e3e3;
                    }
                }
            }
        }
    }
    &__layout {
        display: flex;
        flex-direction: column;
        padding: 20px 16px;
        box-shadow: rgb(0 0 0 / 7%) 0px -1px inset;
        span {
            font-weight: 500;
            padding-bottom: 10px;
        }
        &__wrapper {
            display: flex;
            #selected {
                background-color: #000;
                color: #fff;
            }
            &__box {
                cursor: pointer;
                border: 1px solid #000;
                width: fit-content;
                border-radius: 4px;
                margin:  0 5px;
                background-size: cover;
                object-fit: contain;
                font-size: 18px;
                height: 42px;
                width: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    &__action {
        display: flex;
        padding: 20px 16px;
        box-shadow: rgb(0 0 0 / 7%) 0px -1px inset; 
        &__publish {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(38, 38, 39);
            color: rgb(255, 255, 255);
            outline: none;
            border: 0px;
            transition: all 0.4s ease 0s;
            cursor: pointer;
            border-radius: 4px;
            padding: 6px 12px;
            min-height: 32px;
            font-size: 14px;
            line-height: 20px;
        }
        &__preview {
            border: 1px solid transparent;
            border-radius: 4px;
            position: relative;
            outline: none;
            cursor: pointer;
            transition: all 0.4s ease 0s;
            padding: 0px;
            width: 32px;
            height: 32px;
            background-color: rgb(227, 227, 227); 
            margin-right: 10px;
        }
    }
}